### Q1. 아래와같은 직각삼각형을 출력해보시오. [5점]
```
*****
****
***
**
*
```

(1) for문을 사용해보세요

(2) while문을 사용해보세요

### Q2. for문을 사용하여 1부터 486까지를 더한 값을 구해보세요

### Q3. 적금에 1000만원을 저금했을 때 복리로 이자를 지급한다고 할 때 복리이자율이 연4%라면 2000만원이 되려면 몇 년이 걸리는지 구하세요

(금액이 정확히 2000만원이 되는 것을 의미하는 것이 아니라 2000만원이 넘어가는 것을 의미함.)

In [ ]:
money = 1000
year = 0

### Q4. 이름과 년생이 dictionary에 담겨있을 때 번호를 부여하고 다음과 같이 출력하세요

출력결과
```
번호 : 1, 유아 : 96
번호 : 2, 지호 : 97
번호 : 3, 미미 : 96
번호 : 4, 아린 : 99
번호 : 5, 승희 : 96
번호 : 6, 효정 : 95
번호 : 7, 유빈 : 97
```

In [ ]:
info = {"유아" : 95, "지호" : 97, "미미" : 95, "아린" : 99, "승희" : 96, "효정" : 94, "유빈" : 97}

### Q5. 숫자를 입력받아 주어진 수가 1이 될때까지 다음 작업을 반복하고 반복한 횟수를 구하시오

(단, 작업을 500번 반복해도 1이 되지 않는다면 –1을 출력하시오.)
```
1-1. 입력된 수가 짝수라면 2로 나눈다.
1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더한다.
2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복한다.

[ 입력예시 ] 6  
[ 출력예시 ] 8 (6 -> 3 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1)
```

In [ ]:
num = int(input('숫자를 입력하시오 : '))

### Q6. list comprehension을 사용해 다음 문제를 푸시오

In [ ]:
names = ["릴러말즈", "양홍원", "애쉬아일랜드", "성시경", "씨잼", "언에듀케이티드키드", "오왼", "아이유",
       "DPR LIVE", "넬", "언오피셜보이", "김똥꼬발랄", "빅뱅컴백해요ㅎㅎ", "김승민", "지바노프"]

1) names 리스트에 담긴 이름 중 네 글자 이상인 이름만 새로운 리스트에 담아 출력해보세요

2) names의 이름 중 1)에서 만든 리스트에 없는 이름을 새 리스트에 담아 출력해보세요

### Q7. 다음 딕셔너리에서 items 메소드를 이용하여 딕셔너리에서 가장 큰 value를 가진 key를 출력해보시오

In [ ]:
my_dict = {'정답아님' : 20, '이것이 출력되야합니다' : 45, '이것도 아님' : 10, '이것도!' : 35}

### Q8. 숫자를 입력받아 주어진 수가 1이 될때까지 다음 작업을 반복하고 반복한 횟수를 구하시오. [15점]

(단, 작업을 500번 반복해도 1이 되지 않는다면 –1을 출력하시오.)
```
1-1. 입력된 수가 짝수라면 2로 나눈다.
1-2. 입력된 수가 홀수라면 3을 곱하고 1을 더한다.
2. 결과로 나온 수에 같은 작업을 1이 될 때까지 반복한다.

[ 입력예시 ] 6  
[ 출력예시 ] 8 (6 -> 3 -> 10 -> 5 -> 16 -> 8 -> 4 -> 2 -> 1)
```

In [ ]:
num = int(input('숫자를 입력하시오 : '))

### Q9. 오바마 연설문을 가져와 가장 많이 언급되는 단어와 그것의 횟수를 출력하세요
       (1) words 변수에 담긴 문자열을 띄어쓰기 기준으로 나눈다.
       (2) words의 각 단어들을 key로, 각 단어의 횟수를 value로 하는 dictionary를 만든다.
       (3) value가 가장 큰 key와 value를 출력한다!

In [ ]:
# 텍스트 화일을 열고 words라는 변수에 저장
with open('Obama_words.txt', 'r') as f:
    words = f.read()
    f.close()
    
print(words)

In [ ]:
# 이 셀에 문제를 푸세요!

### Q10. 다음 그림과 같이 밑변의 길이와 높이가 n인 삼각형에서 맨 위 꼭짓점부터 반시계 방향으로 숫자를 채워넣은 후, 첫 행부터 마지막 행까지 모두 순서대로 합친 새로운 배열을 출력하시오.
```
[ 입력예시 ] 4
[ 출력예시 ] [1, 2, 9, 3, 10, 8, 4, 5, 6, 7]
```

<img src="triangle.png" align="left" width="650px" height="500px">

In [ ]:
n = int(input('밑변의 길이를 입력하시오 : '))