### Q1. 본인의 이름, 학번, 좋아하는 음식을 value에 넣어 dictionary를 완성시켜 보세요

In [1]:
info = {"이름" :  "박보검", "학번" : 20201004, "음식" : "고기를 많이 넣은 김치찌개"}

### Q2. 1번에서 만든 dictionary에서 좋아하는 음식(value)를 key를 사용해 출력해보세요

In [2]:
print(info["음식"])

고기를 많이 넣은 김치찌개

### Q3. 다음 a라는 리스트에서 중복된 요소가 제거된 리스트를 만들어 출력해보세요

In [3]:
a = [1, 1, 2, 2, 2, 3, 4, 5, 5]
a = list(set(a))

print(a)

[1, 2, 3, 4, 5]

### Q4. 1이라는 한 요소가 담긴 튜플을 만들어 출력해보세요

In [4]:
tu_ple = (1,)         
print(tu_ple)

(1,)

### Q5. datetime 모듈을 사용해 올해 어린이날부터 크리스마스까지 얼마나 남았나 계산해보세요!

In [5]:
import datetime

christmas = datetime.date(2022, 12, 25)
kidsday = datetime.date(2022, 5, 5)

christmas - kidsday

datetime.timedelta(days=234)

### Q6. 리스트 문제!

In [6]:
listt = [20, 120, 50, 70, 40, 90, 50, 80, 60]

(1)
listt에서 60을 제거하세요

In [7]:
listt.remove(60)

(2)
listt의 앞 네 요소를 출력하세요

In [8]:
listt[:4]

[20, 120, 50, 70]

(3)
listt를 요소의 크기를 기준으로 정렬하세요

In [9]:
listt.sort()
listt

[20, 40, 50, 50, 70, 80, 90, 120]

(4)
listt의 맨 마지막 요소를 출력하세요

In [10]:
listt[-1]

120

(5)
listt의 요소를 모두 삭제한 후 리스트를 출력하세요

In [11]:
listt.clear()
print(listt)

[]

(6) listt를 삭제하세요 (삭제 후 삭제가 되었나 출력까지 해보기)

In [12]:
del listt

In [13]:
listt

NameError: name 'listt' is not defined

### Q7. 다음 두 리스트의 요소들을 동일한 인덱스를 가지는 요소끼리 튜플로 묶어, 이것을 다시 리스트에 담아 출력해보세요

In [14]:
player = ["손흥민", "메시", "홀란드", "네이마르"]
number = [7, 30, 9, 10]

list(zip(player, number))

[('손흥민', 7), ('메시', 30), ('홀란드', 9), ('네이마르', 10)]

### Q8. 다음 수의 각 자리수를 변수를 사용하여 더해보세요

In [15]:
a = 647

a//100 + (a//10%10) + a%10

#or

new_a = list(str(a))
int(new_a[0]) + int(new_a[1]) + int(new_a[2])

17

### Q9. 1번에서 만들었던 dictionary에서 각 value를 가져와 문자열 포매팅을 사용해서 다음 문장을 출력해보세요
(ex)
"제 이름은 김띵키이고, 학번은 20124875, 좋아하는 음식은 마라맛 우유입니다."

In [17]:
print(f"제 이름은 {info['이름']}이고, 학번은 {info['학번']}, 좋아하는 음식은 {info['음식']}입니다.")

제 이름은 박보검이고, 학번은 20201004, 좋아하는 음식은 고기를 많이 넣은 김치찌개입니다.

### Q10. 아래 그림을 참고하여 (1)과 (2) 두 수를 사용하여 (3), (4), (5), (6)의 값을 출력하시오. [10점]

(총 4개의 값이 출력되어 있어야 함)

![formula](formula.png)

In [18]:
num1 = 472
num2 = 385

hundred = int(num2 / 100)
ten = int((num2 % 100) / 10)
one = int(num2 % 10)
 
print(num1 * one)
print(num1 * ten)
print(num1 * hundred)
print(num1 * num2)

2360
3776
1416
181720