### Q1. 본인의 이름, 학번, 좋아하는 음식을 value에 넣어 dictionary를 완성시켜 보세요

In [ ]:
info = {"이름" :  , "학번" : , "음식" : }

### Q2. 1번에서 만든 dictionary에서 좋아하는 음식(value)를 key를 사용해 출력해보세요

In [ ]:
print()

### Q3. 다음 a라는 리스트에서 중복된 요소가 제거된 리스트를 만들어 출력해보세요

In [ ]:
a = [1, 1, 2, 2, 2, 3, 4, 5, 5]

### Q4. 1이라는 한 요소가 담긴 튜플을 만들어 출력해보세요

In [ ]:
tu_ple =          
print(tu_ple)

### Q5. datetime 모듈을 사용해 올해 어린이날부터 크리스마스까지 얼마나 남았나 계산해보세요!

In [ ]:
import datetime

christmas = 
kidday =

### Q6. 리스트 문제!

In [ ]:
listt = [20, 120, 50, 70, 40, 90, 50, 80, 60]

(1)
listt에서 60을 제거하세요

(2)
listt의 앞 네 요소를 출력하세요

(3)
listt를 요소의 크기를 기준으로 정렬하세요

(4)
listt의 맨 마지막 요소를 출력하세요

(5)
listt의 요소를 모두 삭제한 후 리스트를 출력하세요

(6) listt를 삭제하세요 (삭제 후 삭제가 되었나 출력까지 해보기)

### Q7. 다음 두 리스트의 요소들을 동일한 인덱스를 가지는 요소끼리 튜플로 묶어, 이것을 다시 리스트에 담아 출력해보세요

In [ ]:
player = ["손흥민", "메시", "홀란드", "네이마르"]
number = [7, 30, 9, 10]

### Q8. 다음 수의 각 자리수를 변수를 사용하여 더해보세요

In [ ]:
a = 647

### Q9. 1번에서 만들었던 dictionary에서 각 value를 가져와 문자열 포매팅을 사용해서 다음 문장을 출력해보세요
(ex)
"제 이름은 김띵키이고, 학번은 20124875, 좋아하는 음식은 마라맛 우유입니다."

### Q10. 아래 그림을 참고하여 (1)과 (2) 두 수를 사용하여 (3), (4), (5), (6)의 값을 출력하시오. [10점]

(총 4개의 값이 출력되어 있어야 함)

![formula](formula.png)