# 변수 설정

In [1]:
x = 10
x

10

In [2]:
23d = 9 #숫자로 변수명 시작 불가능

SyntaxError: invalid syntax (Temp/ipykernel_13108/802260653.py, line 1)

In [3]:
if = 7 #파이썬 내장 함수의 이름 사용 불가능

SyntaxError: invalid syntax (Temp/ipykernel_13108/37454874.py, line 1)

In [4]:
y = 'Hello, World!' #문자열도 저장 가능
y

'Hello, World!'

In [5]:
a,b,c = 10,20,30 #여러 개의 변수 한 번에 생성 가능
print(a,b,c)

10 20 30

In [6]:
del a,b,c

In [7]:
a #변수는 삭제됨

NameError: name 'a' is not defined

# Data type

###  숫자형 numeric

In [8]:
type(4) #int는 정수형

int

In [9]:
type(4.0) #float는 실수형

float

In [10]:
type('4.0') #str은 문자열

str

### 문자열 string

In [11]:
a = 'D&'
b = 'A' #'',"" 로 둘러싸여 저장됨

In [12]:
print(a + b, b*3) #더하거나 곱하는 연산 가능

D&A AAA

In [13]:
a = 'Hello, world!'

In [14]:
a[4] #4번째 자리에 있는 문자 추출

'o'

In [15]:
a[-2] #뒤에서부터 2번째 자리에 있는 문자 추출

'd'

In [16]:
a[0:4]

'Hell'

In [17]:
a[:7]

'Hello, '

In [18]:
a[:]

'Hello, world!'

In [19]:
a[::-1]

'!dlrow ,olleH'

### 날짜형 datetime

1) 날짜형 datetime.date 생성 및 날짜 간 차이

In [20]:
import datetime

christmas = datetime.date(2022, 12, 25)  
today = datetime.date(2022, 3, 16)

christmas - today      # 오늘부터 크리스마스까지 얼마나 남았나 확인중...

datetime.timedelta(days=284)

In [21]:
print(christmas.year)
print(christmas.month)
print(christmas.day)
print(christmas.weekday())  # weekday는 월요일부터 0

2022
12
25
6

2) datetime.datetime으로 시간까지 계산

In [22]:
now = datetime.datetime.now()  # now()로 현재
report = datetime.datetime(2022, 3, 16, 9, 0, 0)  # 내일 1교시 전까지가 과제제출....

report - now    # 시간이 얼마나 남았지?

datetime.timedelta(seconds=74099, microseconds=710309)

In [23]:
print(report.year)
print(report.month)
print(report.day)
print(report.hour)
print(report.minute)
print(report.second)
print(report.weekday())  # weekday는 월요일부터 0

2022
3
16
9
0
0
2

3) timedelta 객체로 n일 후 날짜 알아보기

In [24]:
diff = datetime.timedelta(days = 96)  # 96일이라는 timedelta(날짜 간 차이)객체 생성

today + diff  # 오늘부터 96일 후는??

datetime.date(2022, 6, 20)

### Pandas를 사용한 날짜형

1) 날짜형 생성

In [25]:
import pandas as pd

now = pd.to_datetime("now") # UTC(국제 표준시)기준
today = pd.to_datetime("today") # 우리나라 기준
print(now)
print(today)

2022-03-15 03:25:01.736410
2022-03-15 12:25:01.736410

In [26]:
a = pd.to_datetime('2020-03-16 10:20:30', format = '%Y-%m-%d %H:%M:%S')
b = pd.to_datetime('03162020 10:20:30',format='%m%d%Y %H:%M:%S')
c = pd.to_datetime("2020/03/16 10:20:30", format = "%Y/%m/%d %H:%M:%S")

print(a)
print(b)
print(c)

2020-03-16 10:20:30
2020-03-16 10:20:30
2020-03-16 10:20:30

### list

In [27]:
a = [123, 'D&A','온라인',['a','b','c']]

In [28]:
a[2]

'온라인'

In [29]:
a[3][2]

'c'

In [30]:
a[:2]

[123, 'D&A']

In [31]:
a[0] = 1432 #a의 첫번째 원소 수정
a

[1432, 'D&A', '온라인', ['a', 'b', 'c']]

### tuple

In [32]:
a = (13, 'dna','2020/04/01')

In [33]:
a[0] = 23 #tuple은 수정 불가능

TypeError: 'tuple' object does not support item assignment

In [34]:
a[:2] #리스트와 같음

(13, 'dna')

### dictionary

In [35]:
dic = {"이름" : '백종원', "직업" : '개 훈련사', "나이" : 27}

In [36]:
type(dic)

dict

### set

In [37]:
s = {3,6,1}
t = {2,3,4}

In [38]:
s & t #교집합

{3}

In [39]:
s | t #중복 허용되지 않기 때문에 3 한번 출력

{1, 2, 3, 4, 6}

In [40]:
s - t #차집합

{1, 6}

# 연산자와 bool 자료형 함께 보기

1) 논리 연산자

#### and는 두 값이  모두 true이면 true

In [41]:
3<6 and 2<3

True

In [42]:
3<4 and 1>7

False

#### or는 두 값 중  하나라도 true이면 true

In [43]:
3<10 or 4<9

True

In [44]:
0>1 or 9>7

True

#### not 은 반댓값 출력

In [45]:
not False #False 나 True는 첫번째 문자가 대문자 주의

True

2) 멤버 연산자

In [46]:
a = 1
b = [1, 2, 3, 4]

In [47]:
a in b

True

In [48]:
a not in b

False

3) 비교 연산자

In [49]:
"파이썬" == "파이썬"

True

In [50]:
a = 1234
b = 1234

a == b

True

In [51]:
a != b

False

# 문자열 포매팅

1) 포맷코드

In [52]:
grade = 1
name = "최유진"

intro = "저는 %d학년이고 이름은 %s입니다"%(grade, name)
print(intro)

저는 1학년이고 이름은 최유진입니다

In [53]:
pie = 3.14159

print("파이는 %0.2f"%pie)  # 포맷코드의 %와 f사이에 소수점 아래 자리 지정

파이는 3.14

In [54]:
print("김씨는 대한민국 인구의 %s%%가 넘는다"%20)  # %기호를 포맷코드와 같이 넣으려면 %%로

김씨는 대한민국 인구의 20%가 넘는다

2) format함수 사용

In [55]:
name = "손흥민"
birth = 1992

print("저는 {0}이고 {1}년생입니다.".format(name, birth))   # 인덱스에 해당하는 변수 삽입

저는 손흥민이고 1992년생입니다.

In [56]:
print("저는 {1}이고 {0}년생입니다.".format(name, birth))

저는 1992이고 손흥민년생입니다.

In [57]:
print("저는 {name}이고 {birth}년생입니다.".format(name = "김지호", birth = 1997))

저는 김지호이고 1997년생입니다.

In [58]:
name = "파이"
pie = 3.14159

print("{0}는 {1:.2f}".format(name, pie))  # format함수로 소수점 아래 자리 지정

파이는 3.14

3) f-string

In [59]:
name = "손흥민"
birth = 1992

print(f"저는 {name}이고 {birth}년생입니다.")

저는 손흥민이고 1992년생입니다.

In [60]:
user = {"이름" : "강형욱", "나이" : 28, "직업" : "강아지"}

print(f"제 이름은 {user['이름']}이고 나이는 {user['나이']}, 직업은 {user['직업']}입니다.")

제 이름은 강형욱이고 나이는 28, 직업은 강아지입니다.

In [61]:
name = "파이"
pie = 3.14159

print(f"{name}는 {pie:.2f}")  # f-string 기법으로 소수점 아래 자리 지정

파이는 3.14

# 메소드

### string

In [62]:
a = 'I ate chicken'

In [63]:
a.count('c')  # 요소 개수 세기

2

In [64]:
a.find('i') # 문자열 중 input과 같은 첫번째 요소의 인덱스값 출력

8

In [65]:
a.replace('ate','buy') # 문자열 내 첫 번째 input을 두 번째 input으로 대체

'I buy chicken'

In [66]:
a.split(" ") # input 기준으로 문자열을 나누어 리스트에 저장

['I', 'ate', 'chicken']

In [67]:
'1'.join(a)  # 문자열 내 요소 사이에 input 삽입

'I1 1a1t1e1 1c1h1i1c1k1e1n'

In [68]:
a.lower()   # 문자열의 대문자를 소문자로 바꿈

'i ate chicken'

In [69]:
a.upper()   # 문자열의 소문자를 대문자로 바꿈

'I ATE CHICKEN'

In [70]:
b = ' I am hungry '

b.swapcase()  # 대문자는 소문자로, 소문자는 대문자로

' i AM HUNGRY '

In [71]:
b.capitalize() # 문자열의 첫번째 글자는 대문자로, 나머지는 소문자로

' i am hungry '

In [72]:
b.rstrip() # 오른쪽 공백 지우기

' I am hungry'

In [73]:
b.lstrip() #왼쪽 공백 지우기

'I am hungry '

In [74]:
b = '       I am hungry         '
b.strip()    # 양쪽 공백 지우기

'I am hungry'

In [75]:
len("아 배고파") # 문자열 요소 개수 세기

5

In [76]:
c = "pythonispython"

c.startswith("p")  # 문자열이 input값으로 시작하는지 여부를 bool자료형으로 반환

True

In [77]:
c.endswith("n") # 문자열이 input값으로 시작하는지 여부를 bool자료형으로 반환

True

In [78]:
c = "1004ANGEL"

c.isalnum()  # 문자열이 숫자와 알파벳으로 이루어져있으면 True, 아니면 False

True

In [79]:
c.isalpha() # 문자열이 문자(영어, 한글)만 포함하고 있으면 True, 아니면 False

False

In [80]:
c.isdigit() # 문자열이 숫자로만 이루어져있으면 True, 아니면 False

False

### list

In [81]:
a = [4,3,2,1]

In [82]:
a.append(5)   # 리스트에 input값 추가
a

[4, 3, 2, 1, 5]

In [83]:
a.reverse() # 리스트를 현재 순서에서 뒤집기
a

[5, 1, 2, 3, 4]

In [84]:
a.sort()   # 리스트 요소를 요소값 기준으로 정렬
a

[1, 2, 3, 4, 5]

In [85]:
a.remove(2)  # 리스트 내 input 값 삭제
a

[1, 3, 4, 5]

In [86]:
a.pop() # 리스트 마지막 요소 반환 후 삭제

5

In [87]:
a

[1, 3, 4]

In [88]:
a.count(1)  # 리스트 내 input값 요소 개수 세기

1

In [89]:
a.extend([5, 6, 7, 8, 9])  # 리스트를 input으로 받아 리스트 확장
a

[1, 3, 4, 5, 6, 7, 8, 9]

In [90]:
del a[0]  # 요소의 인덱스 값으로 요소 삭제
a

[3, 4, 5, 6, 7, 8, 9]

In [91]:
len(a) # 요소의 개수 세기(길이)

7

In [92]:
a.clear()
a

[]

In [93]:
list({1, 2, 3, 4})  # list자료형으로 바꾸기

[1, 2, 3, 4]

### dictionary

In [94]:
player = {"손흥민" : 7, "메시" : 30, "홀란드" : 9, "네이마르" : 10}

In [95]:
player.keys()

dict_keys(['손흥민', '메시', '홀란드', '네이마르'])

In [96]:
player.values()

dict_values([7, 30, 9, 10])

In [97]:
player.items()

dict_items([('손흥민', 7), ('메시', 30), ('홀란드', 9), ('네이마르', 10)])

In [98]:
len(player)

4

In [99]:
player['메시'] = 10
player

{'손흥민': 7, '메시': 10, '홀란드': 9, '네이마르': 10}

In [100]:
player["김은욱"] = 0
player

{'손흥민': 7, '메시': 10, '홀란드': 9, '네이마르': 10, '김은욱': 0}

In [101]:
player.get("손흥민")

7

In [102]:
player["손흥민"]

7

In [103]:
player.clear()

In [104]:
player

{}

# 자주 쓰이는 함수

1) enumerate()

In [105]:
a = ["이렇게", "파이썬", "고수가", "된다"]  
  
for i in enumerate(a):         # 이 문장은 enumerate 안에 있는 값을 하나씩 꺼내오는 거라 이해하면 됩니다
    print(i)                   # 출력결과처럼 enumerate를 통해 a의 각 요소가 인덱스값과 매칭되어 튜플로 저장

(0, '이렇게')
(1, '파이썬')
(2, '고수가')
(3, '된다')

2) list()

In [106]:
list({1, 2, 3})  # 다른 자료형을 list로 바꾸는 함수

[1, 2, 3]

3) range

In [107]:
list(range(0, 10, 2))   #  0 -> 시작지점   10 -> 끝지점   2 -> 스텝
                        #  스텝 생략 시 기본값은 1'
                        #  시작지점 생략시 기본값은 0

[0, 2, 4, 6, 8]

In [108]:
list(range(10)) # 시작지점 생략시 기본값은 0

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

4) zip()

In [109]:
a = [1, 2, 3]
b = ["a", "b", "c"]

list(zip(a, b))        # 길이가 같은 두 자료형의 각 요소를 인덱스값 기준으로 매칭시켜줌

[(1, 'a'), (2, 'b'), (3, 'c')]

5) sum()

In [110]:
a = [1, 2, 3, 4, 5]
sum(a)         # 자료형의 각 값들의 합을 계산

15

6) max()

In [111]:
max(a)     # 최대값 출력

5

7) min()

In [112]:
min(a)   # 최소값 출력

1

8) abs()

In [113]:
abs(-12)   # 숫자형의 절대값 출력

12

9) round()

In [114]:
round(3.14159, 2)   # 첫 번째 input을 두 번째 input만큼 소수점 아래자리 반영
                    # 두 번째 input 기본값은 0

3.14

10) str()

In [115]:
str(1234)     # 문자열로 바꿔줌

'1234'

11) int()

In [116]:
print(int("1234"))
print(int(3.14159))    # 정수형으로 바꿔줌

1234
3

12) float()

In [117]:
float(12)      # 실수형으로 바꿔줌

12.0